@media screen and (max-width: 1400px) {
    html {
        font-size: 13px;
    }

    .bar-fixed {
        padding: 1rem 4rem;
    }
}

@media screen and (max-width: 700px) {


    form img {
        width: 50rem;
    }

    .benefits-section h1 {
        font-size: 5rem;
    }

    .button-vip {
        font-size: 0.7rem;
    }

    .bar-fixed {
        flex-direction: column;
        width: 100vw;
    }

    .bar-fixed div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bar-fixed div img {
        margin: 0;
    }

    .bar-fixed p {
        font-size: 0.8rem;
        margin: 1rem 0;
    }

    .bar-fixed-bg {
        top: 0;
    }

    #exclusive::after {
        width: 125%;
        height: 125%;
        top: -1rem;
    }

    footer {
        padding-bottom: 15rem;
    }
}

@media screen and (max-width: 610px) {
    .launch-section h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 10px;
    }

    h1,
    h2 {
        letter-spacing: 0.1rem;
    }

    header p {
        font-size: 2rem;
    }

    .card-4>div:nth-child(1)::after {
        bottom: -1.5rem;
    }

    .card-4>div:nth-child(1)::before {
        bottom: -1.5rem;
    }

    .card-4 div:nth-child(2)::after {
        top: -1rem;
    }

    .card-4 div:nth-child(2)::before {
        top: -1rem;
    }

    .benefits-section h1 {
        font-size: 7rem;
    }

    .launch-section h1 {
        font-size: 4.5rem;
    }

    .launch-section div p:nth-child(1) {
        font-size: 1.8rem;
    }

    .launch-section div p span::after {
        width: 5rem;
        left: -0.3rem;
        top: 0.2rem;
    }

    .inv-text {
        right: 0rem;
        left: 0;
        top: 4rem;
        text-align: center;
        margin: 0;
        font-size: 1.5rem;
    }

    main form {
        gap: 1rem;
    }

    .br-line-mob {
        display: block;
    }

    .br-line-desktop {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    html {
        font-size: 8px;
    }

    .button {
        font-size: 1.2rem;
    }

    input::placeholder {
        font-size: 1.2rem;
    }

    .bar-fixed img {
        max-width: 8rem;
    }
}

@media screen and (max-width: 380px) and (orientation: landscape) {

    /* Estilos para telas em modo paisagem aqui */
    #main {
        height: 200vh;
    }
}